<article>
    <header>
        <app-post-title [title]="this.post?.title"></app-post-title>
        <!-- {{this.post?.title}} -->
        <!-- {{this.post ? this.post.title : null}} -->
    </header>
    <section>
        <app-post-body body="{{this.post?.body}}"></app-post-body>
        <!-- {{this.post?.body}} -->
        <app-post-comment #comment></app-post-comment>
        TESTE: {{comment.comentario}}
    </section>
    <footer>
        Gostou?
        <app-like></app-like>
    </footer>
</article>